* {
  margin: 0;
  padding: 0;
}

body {
  color: #F9F9F9;
  background: #333;
  font: 14px/1.5em sans-serif;
  margin: 2em auto;
  padding: 0 2em;
  max-width: 75em;
}

h1 {
  line-height: 1em;
  margin-bottom: 1em;
}

code {
  font-family: monospace;
}

.section {
  position: relative;
}

.annotation {
  position: absolute;
  left: 50em;
  margin-left: 2em;
  right: 0;
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  color: #999;
}

.annotation:not(:hover) * {
  display: inline;
}

.annotation:hover {
  padding: 1em;
  margin: -1em -1em 0 1em;
  z-index: 3;
  overflow: visible;
  white-space: normal;
  background: #555;
  height: auto;
}

.annotation p,
.annotation ul {
  margin-bottom: 1em;
}

.annotation li {
  margin-left: 1em;
}

.annotation > *:last-child {
  margin-bottom: 0;
}

.code {
  display: block;
  width: 50em;
}

.code pre {
  white-space: pre-wrap;
}
